body {
	background-color: #fefdfb;
}

#headerNav {
	margin-left: 50px;
	text-align: center;
	color: #535353;
}

#board {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  width: 1000px !important;
}

#rowA {
	border: 1px solid;
	border-color: #535353;
	height: 75px;
}

#rowB {
	border: 1px solid;
	border-color: #535353;
	border-top: 0px;
	height: 75px;
}

#l-icon-1 {
	left: 110px;
}
#l-icon-2 {
	left: 410px;
}
#l-icon-3 {
	left: 610px;
}
#l-icon-4 {
	left: 910px;
}
#l-icon-5 {
	left: 110px;
}
#l-icon-6 {
	left: 410px;
}
#l-icon-7 {
	left: 610px;
}
#l-icon-8 {
	left: 910px;
}

.glyphicon {
	color: white;
}

#charA {
	  position: absolute;
	  top: 10px;
	  left: 5px;
	  width: 50px;
	  height: 50px;
	  background: no-repeat;
}

#charB {
	  position: absolute;
	  top: 80px;
	  left: 5px;
	  width: 50px;
	  height: 50px;
	  background: no-repeat;
}